body {
  font-family: Open Sans, Verdana Pro, Verdana;
  font-size: 16px; }

.jumbotron {
  background-color: #007bff;
  color: black;
  padding: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #007bff;
  margin-bottom: 0px;
  color: #f2f2f2; }

footer a {
  color: #f2f2f2; }

.card-hotel {
  flex: 1 150px; }

.ls-strech {
  letter-spacing: -0.04em; }
